.login_box{
    background-color: #e2e2e2;
    width: 800px;
    height: 500px;
    margin: auto;
    margin-top: 8%;
}

.img_user{
    width: 500px;
    height: 400px;
    background-image: url('이미지/유저이미지.png'); 
    background-size: 250px 250px;
    background-position: left center;
    background-repeat: no-repeat;
    margin-left: 10%;
}

.login{
    outline: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
    margin: 10%;
    width: 100px;
    height: 10%;
}


    