.login_box{
    background-color: #e2e2e2;
    width: 750px;
    height: 400px;
    margin: auto;
    margin-top: 10%;
}

.img_user{
    width: 400px;
    height: 350px;
    background: url('이미지/유저이미지.png') no-repeat 250px 250px / left center; 
    margin-left: 10%;
}

.login{
    outline: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
    margin: 10%;
    width: 100px;
    height: 10%;
}

.login_button{
    width: 100px;
    height: 100px;
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}

.login_button_in{
    background-color: white;
    border-color: #e2e2e2;
    border-radius: 150px 140px;
    width: 80px;
    height: 40px;
    font-size: 10px;

}